<h1 class="text-3xl font-semibold mb-4 mt-4 text-center">Projects</h1>
<table class="min-w-full bg-white border border-gray-200">
  <thead>
    <tr class="bg-gray-100">
      <th class="px-4 py-2 text-left font-medium text-gray-700">Project Title</th>
      <th class="px-4 py-2 text-left font-medium text-gray-700">Project Status</th>
      <th class="px-4 py-2 text-left font-medium text-gray-700">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr class="border-t">
        <td class="px-4 py-2 text-gray-800"><%= link_to project.title, project_path(project), class: "text-blue-500" %></td>
        <td class="px-4 py-2 text-green-700"><%= project.status.capitalize %></td>
        <td class="px-4 py-2 space-x-2">
          <%= link_to 'History', project_path(project), class: "text-yellow-600 hover:text-yellow-800" %> |
          <%= link_to 'Edit', edit_project_path(project), class: "text-blue-500 hover:text-blue-600" %> |
          <%= link_to "Delete", project_path(project), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "text-red-500 hover:text-red-600" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-6 text-center">
  <%= link_to 'New Project', new_project_path, class: "px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600" %>
</div>
